  .h1{
        color:red;
    }
    a{
        background-color: green;
        color: #ffffff;
        text-decoration: none;
        font: 16px;
        padding: 10px 20px;
        border-radius: 15px;
    }